{% extends 'layouts/base.html' %}{% load static %}{% block content %}
<style>
    .errorlist {
        color: var(--bs-danger)
    }
</style>
<body style="background-color: #e3edf7;">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="card card-default rounded-0 shadow" style="background-color: white; border-radius: 6px !important; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;">
                <div class="card-header">
                    <h4 class="card-title"><b>Update Password</b></h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form id="register-user" method="POST" action="{% url 'update-password' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">

                                    {{ form.as_p }}
                                    <div class="form-group mb-3">
                                        <div class="d-flex w-100 justify-content-end">
                                            <button style="border-radius: 6px !important;" class="btn btn-sm rounded-0 btn-primary col-4">
                                                    Update
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>
{% endblock content %}