{% load static %}
<footer style="background-color: #e3edf7;" class="footer-area">
    <!-- Footer Logo -->
    <div class="footer-logo mb-100">
        <a href="{%url 'home-page'%}" style="background-color: #e3edf7;"><img style="height:45px; width:45px; background-color: #e3edf7;"  src="{% static 'img/core-img/logonew.png' %}" alt=""></a>
    </div>
    <!-- Footer Content -->
    <div style="background-color: #e3edf7;" class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content text-center">
                    <!-- Footer Nav -->
                    <!-- <div class="footer-nav">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Quick Links</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div> -->
                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <div> <h5>Follow Us</h5> </div>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                class="fa fa-pinterest" style="font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                class="fa fa-facebook" style="font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"
                                style="font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                class="fa fa-instagram" style="font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i
                                class="fa fa-youtube-play" style="font-size: 30px;" aria-hidden="true"></i></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i
                                class="fa fa-linkedin" style="font-size: 30px;" aria-hidden="true"></i></a>
                    </div>

                    <div> <h5>About Us</h5> </div>

                    <p class="mb-15">A news website is an online platform that delivers the latest news, updates, and
                        information to readers worldwide. It serves as a digital hub for accessing real-time coverage of
                        current events, breaking news, and in-depth articles across a wide range of topics, including
                        politics, business, technology, entertainment, sports, science, health, and more.</p>

                    <!-- Copywrite Text -->
                    <p class="copywrite-text"><a href="#">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            NewsBox was developed by <i class="fa fa-heart-o" aria-hidden="true"></i> <a
                                href="https://github.com/Nishanchaudhary" target="_blank"><b>Nishan</b></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
</footer>